.navbar {
    background-color: #B32346; /* Red background color */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .logo-text {
    font-weight: bold;
    color: #fff;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  .navbar-item {
    margin-right: 10px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .navbar-link:hover {
    background-color: #ddd;
    color: #333;
  }
  